.wrapper {
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 30px 0;
}

.sideBar {
    margin: 0 30px;
}

.value {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.margin {
    margin-right: 15px;
}